@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}

li {
    list-style-type: none;
}

a {
    margin-left: 50px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo__img{
    width: 50px;
    height: 50px;
}

.header__link{
    margin: 8px 16px;
    font-weight: 800;
}

.links{
    margin-left: 275px;   
    display:flex;
    cursor:pointer;
    font-weight: 400;
}

.login__links{
    display: flex;
    cursor: pointer;
}
.login__links--signup{
    margin-left: 30px;
    padding: 12px 32px;
    width:120px;
    height:45px;
    background-color:rgb(100,21,255);
    border-radius: 50px;
    color:white;
}


.purple{
    color:  rgb(8, 24, 48);
}

.navy__blue{
    color: rgb(43,7,115);
}


/* MAIN */
.main{
    display: flex;

}

img {
    max-width: 100%;
}

#main{
    display: flex;
    
    justify-content: space-between;
    margin-top: 75px;
}

.main__description {
    width: 40%;
}
.main__img{
    width: 60%;
}

.main__description--heading{
    margin-top: 1.5rem;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1.2;
}

.main__description--para{
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.TwoColumnInput{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
    text-align: center;
    
}
.TwoColumnInput input {
    width: 90%;
    border-radius: 9999px;
    border-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.TwoColumnInput button {
    right: 0px;
    top: 2px;
    bottom: 0px;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    margin-left: -10.2rem;
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}


.TRUSTED__CUSTOMERS {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    /* justify-content: flex-start; */
}
.TRUSTED__CUSTOMERS p {
    margin-bottom: 20px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}


/* FEATURES */
.section__features{
    margin: 12rem 0;
}

.features__main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.features__main-header {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 4rem;
}
.features__heading{
    letter-spacing: 0.075rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    margin-bottom: 0.5rem;
}

.summary__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.summary__list--heading{
    color:  rgb(8, 24, 48);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.lorem{
    color:rgb(71, 71, 71);
    margin-top:2rem;
    margin: 0 auto;
    max-width: 36rem;
}

.feature__box{
    display: flex;
    margin: 2rem 0;
    width: calc(100%/3);

}

.icon__container {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    /* width: 25%; */
}

.text__container{
    width: 75%;
}

.text__container h1{
    margin-bottom: 12px;
}

.text__container p{
    color:rgb(71, 71, 71);
    line-height: 2rem;
}